html, body {
	margin: 20px;
	font-family: helvetica;
}

canvas {
	display: inline-block;
	margin: 0 auto;
}
h1 {
	color: #ef95c1;
}

h2, h3, h4,
h5, h6, p {
	color:#8de1cc;
	font-size: 1
}

a {
	color: #aa8cc5;
}

.container {
	width: 75%;
	margin: 0 auto;

}
//colours: #FF851B, #85144B, #fffff with opacity set to more transparent